* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

.offScreen {
    position: fixed;
    left: -9999px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.App {
    background-color: #242424;
}

header {
    margin-bottom: 1rem;
    color: pink;
}

header span {
    color: gold;
}

header,
footer {
    text-align: center;
    padding: 0.5rem;
    background: #ad3145;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.progressBarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-width: 500px;
    height: 5px;
    margin: 20px auto;
    border-radius: 1rem;
    background: #585858;

    position: relative;
}

.progressBarContainer span {
    width: 25px;
    height: 25px;
    background: #585858;
    display: grid;
    place-content: center;
    border-radius: 50%;
    z-index: 1;
}

.progressBarContainer span.active {
    background: #ad3145;
}

.progressBar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ad3145;
    border-radius: 1rem;
}

.progressBarContainer span.endStyle {
    color: black;
    background: limegreen;
}

.formTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.signUp {
    width: 40%;
    min-width: 500px;
    height: 480px;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 10px auto;
    margin-bottom: 3rem;
    background: rgb(29, 28, 28);
    box-shadow: 2px 2px 10px 4px rgba(173, 49, 70, 0.842);
}

.formStep {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;

    transition: box-shadow 0.1s ease-in;
}

input[type="checkbox"] {
    margin-bottom: 0;
}

input:is(:hover) {
    box-shadow: 1px 1px 10px 3px rgba(173, 49, 70, 0.842);
}

input:focus {
    outline: 2px solid #ad3145;
}

.passwordBox input,
.inputBox input {
    width: 100%;
}

.passwordBox,
.inputBox {
    position: relative;
    margin-bottom: 1.5rem;
}

#phoneInput {
    width: calc(80% - 0.2rem);
}

.inputBox svg {
    position: absolute;
    right: 10px;
    top: 20%;
    color: #5a5959;
    font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.passwordBox button {
    background: transparent;
    border: 0;
    position: absolute;
    right: 30px;
    top: 15%;
}

.phoneBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.phoneBox select {
    font-family: inherit;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    color: inherit;
    padding: 1rem;
    width: calc(20% - 0.2rem);
}

.phoneBox select:hover {
    box-shadow: 1px 1px 10px 3px rgba(173, 49, 70, 0.842);
}

.phoneBox select:focus {
    outline: 2px solid #ad3145;
}

.phoneBox select option {
    background: rgb(29, 28, 28);
    color: whitesmoke;
}

textarea {
    height: 100px;
    font-family: inherit;
    font-size: 1.1rem;
}

.scrollLeftBtn,
.scrollRightBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.4rem;
    padding: 0;
    background: transparent;
    outline: 1px solid #ad3145;
    border: 0;
    color: #ad3145;
}

button {
    font-size: 1.4rem;
    font-family: inherit;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-inline-start: 3rem;
}

button:disabled {
    color: rgb(78, 78, 78);
    outline: 1px solid rgb(78, 78, 78);
}

.scrollRightBtn:not(:disabled):hover,
.scrollLeftBtn:not(:disabled):hover {
    background: #ad3145;
    color: whitesmoke;
    box-shadow: 1px 1px 3px 3px rgba(173, 49, 70, 0.842);
    outline: 0;
}

.submitBtn {
    background: transparent;
    color: teal;
    border: 0;
    outline: 1px solid teal;
}

.submitBtn:hover {
    background: teal;
    color: whitesmoke;
    outline: 0;
    box-shadow: 1px 1px 3px 3px teal;
}

.greetMsg p {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.1rem;
}

.greetMsg p svg {
    font-size: 4rem;
    color: green;
}

.errorMsg {
    color: red;
    font-size: 0.8rem;
}

.endRegister {
    background: transparent;
    color: #ad3145;
    border: 0;
    outline: 1px solid #ad3145;
}

.endRegister:hover {
    background: teal;
    color: whitesmoke;
    outline: 0;
    box-shadow: 1px 1px 3px 3px teal;
}

/* light theme styles */
.switch {
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: transparent;
    padding: 0.3rem;
}

#light.App {
    background: whitesmoke;
    color: #ad3145;
}

#light .signUp {
    background-color: rgb(245, 237, 224);
    box-shadow: 2px 2px 10px 4px #33333360;
}

#light input {
    color: #333;
}

#light textarea {
    background-color: white;
}

#light footer {
    color: whitesmoke;
}

/* 
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
